@font-face {
    font-family: Noto Sans Display;
    src: url(NotoSansDisplay-VariableFont_wdth\,wght.ttf);
}

.paragraph {
    color: rgb(255, 128, 0);
    font-weight: 400;
    font-size: 1.65em;
    margin: 1px;
}

.last-text {
    color: rgb(255, 128, 0);
    font-weight: 400;
    font-size: 1.65em;

}

body {
    background-color: whitesmoke;
    font-family: Noto Sans Display;
    font-weight: 200;
}

.container {
    display: flex;
    margin: 0;

    height: 100vh;
}

.left {
    background-image: url("mealprep.jpg");
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;

    width: 40vw;
}

.logo-container {
    position: absolute;
    top: 37%;
    width: 40vw;
    padding-top: 20px;
    padding-bottom: 15px;
    background: rgb(245, 245, 245, .9);

    display: flex;
    justify-content: center;
}

.logo {
    height: 200px;
    width: 200px;
}

.right {
    display: flex;
    flex-direction: column;
    width: 60vw;
}

.top-bar {
    height: 29vh;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding-left: 100px;
    padding-right: 300px;
    padding-bottom: 50px;
}

.form-bar {
    height: 35vh;
    padding-right: 10vw;
    padding-left: 100px;
    background: rgb(250, 250, 250);
}

.form-bar form {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.full-name, .contact-info, .password-info {
    display: flex;
    gap: 100px;
}

.password-info div{
    display: flex;
    flex-direction: column;
    font-size: 12px;
    font-weight: 400;
    color: rgb(145, 145,  145);
}

.contact-info div {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    font-weight: 400;
    color: rgb(145, 145,  145);
}

.full-name div{
    display: flex;
    flex-direction: column;
    font-size: 12px;
    font-weight: 400;
    color: rgb(145, 145,  145);
}

input[type=text], input[type=email], input[type=tel], input[type=password] {
    border: 2px solid rgb(255, 128, 0);
    border-radius: 4px;
    padding: 5px;
    width: 250px;
}

.bottom-bar {
    padding-left: 100px;
    height: 32vh;
}

.bottom-bar h4 {
    color: rgb(145, 145,  145);
}

.create-acnt-btn {
    background-color: white;
    color: rgb(255, 128, 0);
    border: 2px solid rgb(255, 128, 0);
    border-radius: 12px;
    font-size: 17px;
    font-weight: bold;
    padding: 13px 50px;
    margin-top: 50px;

    transition-duration: 0.4s;
}

.create-acnt-btn:hover {
    background-color: rgb(255, 128, 0);
    color: white;
}

a:link {
    color: rgb(255, 128, 0);
    background-color: transparent;
    text-decoration: none;
}